{% extends 'base.html.twig' %}

{% block title %}Request New Team{% endblock %}

{% block body %}
    <h1>Request New Team</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Submit Request</button>
    {{ form_end(form) }}
    <a href="{{ path('app_teams_list') }}" class="btn btn-secondary">Back to List</a>
{% endblock %}