{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
    <h1>Teams</h1>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_team_create') }}" class="btn btn-primary">Create New Team</a>
    {% endif %}

    <ul>
        {% for team in teams %}
            <li>
                <a href="{{ path('app_team_show', {'id': team.id}) }}">{{ team.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}